$bubble-width: 60px;
$accent-color: #0d77e2;

.TbdSidebar {
  height: auto;
  width: $bubble-width;
  touch-action: none;
  user-select: none;
  pointer-events: auto;
}

.TbdSidebar:not(.react-draggable-dragging) {
  -webkit-transition: -webkit-transform 0.5s ease-out; /* Safari */
  transition: transform 0.12s ease-out;
}

.TbdSidebar__LogoBubble {
  height: $bubble-width;
  width: $bubble-width;
  background-image: url('../../../../public/images/logo.png');
  background-size: contain;
  // background-color: $accent-color;
  border-radius: $bubble-width/2;
  cursor: pointer;
  margin-bottom: 7px;
  -webkit-box-shadow: 0px 0px 7.5px -1.5px rgba(125,125,125,0.5);
  -moz-box-shadow: 0px 0px 7.5px -1.5px rgba(125,125,125,0.5);
  box-shadow: 0px 0px 7.5px -1.5px rgba(125,125,125,0.5);
  z-index: 2;
  position: relative;
}
