@import '../../../../styles/general.scss';
@import '../index.scss';

.TroveTooltip__Dropdown {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: rgb(55, 53, 47);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
  border-radius: 3px;
}

.TroveDropdown__Search {
  background-color: rgba(242,241,238,0.6);
  text-align: left;
  margin: 0;
  padding: 0 0 0 10px;
  border: none;
  outline: none;
  height: $tooltip-height;
  min-width: 235px;
}

.TroveDropdown__ItemsWrapper {
  background-color: #FFFFFF;
  padding-top: 5px;
  max-height: 250px;
  overflow: scroll;
  max-width: 350px;
  min-width: 250px;
}

.TroveDropdown__ChangeSpace {
  width: 100%;
  padding: 8px 15px;
  color: #969696;
  font-size: 12px;
  font-weight: 400;
  border-top: 1px solid #DDDDDD;
}

.TroveDropdown__ChangeSpace:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.TroveDropdown__Loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 15px 15px;
  font-size: 18px;
}

.TroveDropdown__SpaceSelected {
  height: 8px;
  width: 8px;
  border-radius: 25px;
  background-color: #0d77e2;
  margin-left: 5px;
}

.TroveDropdown__SpaceLoading {
  font-size: 18px;
  margin-left: 5px;
}

.TroveDropdown__Spaces {
  padding: 5px 0;
  background-color: #FFFFFF;
  border-top: 1px solid #DDDDDD;
}

.TroveDropdown__Space {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TroveDropdown__Space:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.TroveDropdown__SpaceName {
  @include TbdFont--medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TroveDropdown__NoResults {
  color: #969696;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 15px 10px 15px;
}

// .TroveDropdown__Item {
//   margin: 0;
//   padding: 0;
//   outline: none;
//   border: none;
//   background-color: transparent;
//   height: 40px;
//   text-align: left;
//   cursor: pointer;
// }

// .TroveDropdown__Item:hover {
//   background-color: rgba(255, 255, 255, 0.1);
// }

// .TroveDropdown__Item--selected {
//   background-color: rgba(255, 255, 255, 0.1);
// }

// .TroveDropdownItem__Text {
//   padding: 0;
//   margin: 0 0 0 15px;
// }
