@import '../../../../styles/general.scss';

.TroveTooltip__Dropdown {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: rgb(55, 53, 47);
  // @include boxShadow(0px 0px 7.5px -1.5px rgba(125,125,125,0.5));
}

.TroveDropdown__Search {
  background-color: rgba(242,241,238,0.6);
  text-align: left;
  margin: 0;
  padding: 0 0 0 10px;
  border: none;
  outline: none;
  height: 100%;
  min-width: 235px;
}

.TroveDropdown__Item {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  height: 40px;
  text-align: left;
  cursor: pointer;
}

.TroveDropdown__Item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.TroveDropdown__Item--selected {
  background-color: rgba(255, 255, 255, 0.1);
}

.TroveDropdownItem__Text {
  padding: 0;
  margin: 0 0 0 15px;
}
