#TroveTooltipWrapper {
  all: initial;
  * {
    all: unset;
  }

  height: 0;
  width: 0;
  top: 0;
  left: 0;
  z-index: 696969420;
  position: absolute;
}

.TroveErrorBoundary__Alert {
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

.TroveMark {
  cursor: pointer;
}
