@import '../../../../styles/general.scss';

.TroveNewCommentWrapper {
  display: block;
  width: 100%;
  padding: $tooltip-padding;
  padding-top: 0;
}

.TroveNewComment {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.TroveNewComment__Left {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.TroveNewComment__Right {
  margin-left: 10px;
  width: 100%;
}

.TroveNewComment__Header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.TroveNewComment__Header--row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 26px;
}

.TroveNewComment__Header--row-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.TroveNewComment__Header__Right {
  display: flex;
  margin-bottom: 5px;
  align-items: flex-start;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: flex-end;
}

.TroveNewComment__Link {
  @include TbdFont;
  color: #969696;
  word-break: break-all;
}

.TroveNewComment__LinkWrapper {
  @include TbdFont;
  color: #969696;
  @include numLines(1);
  max-width: 200px;
  margin-right: 5px;
}

.TroveNewComment__TimeAgo {
  @include TbdFont;
  min-width: fit-content;
  margin-left: 5px;
  height: 100%;
  color: #969696;
}

.TroveNewComment__Options {
  font-size: 22px;
  color: #969696;
  font-weight: 900;
  display: flex;
  width: 40px;
  cursor: pointer;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  border-radius: 102px;
  padding-left: 2px;
  padding-bottom: 2px;
  user-select: none;
}

.TroveNewComment__Options:hover {
  color: rgba(13, 119, 226, 0.5);
  background-color: rgba(13, 119, 226, 0.15);
}

.TroveNewComment__Body {
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.TroveNewComment__Editor {
  position: relative;
  margin-bottom: 5px;
  margin-top: 7px;
}

.TroveNewComment__OptionsWrapper {
  position: relative;
}

.TroveNewComment__Quote {
  min-width: 4px;
  margin-right: 15px;
  border-radius: 2px;
}

.TroveNewComment__Highlight {
  display: flex;
}

.TroveNewComment__Likes {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms;
  cursor: pointer;
  color: #969696;
  margin-left: -6px;
}

.TroveNewComment__Likes--red {
  color: rgb(224, 36, 94);
}

.TroveNewComment__LikeIconWrapper {
  border-radius: 60px;
  transition: 100ms;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}

.TroveNewComment__LikeIconWrapper--hovered {
  background-color: rgba(224, 36, 94, 0.15);
}

.TbdPost__PostWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.TbdPost__TopicFiller {
  height: 1px;
  width: 10px;
  margin-right: 5px;
  background-color: transparent;
}

.TbdPost__TopicColor {
  width: 10px;
  height: 100%;
  margin-right: 5px;
  overflow: hidden;
  border: 1px solid #DDDDDD;
}

.TbdPost__OptionsBar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: 50ms;
  cursor: pointer;
  margin-top: -7px;
  position: relative;
}

.TbdPost__OptionsBar--option {
  color: #757575;
  font-size: 25px;
  line-height: 7px;
}

.TbdPost__Options {
  border-radius: 3px;
  @include TbdFont;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, 
    rgba(15, 15, 15, 0.1) 0px 3px 6px, 
    rgba(15, 15, 15, 0.2) 0px 9px 24px;
  background-color: white;
  position: absolute;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  overflow: hidden;
  transition: 50ms;
  font-weight: 400;
  z-index: 10;
  margin-top: 3px;
  right: 0px;
}

.TbdPost__Icon {
  margin-right: 7px;
}

.TbdPost__Options--option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.85);
  transition: 50ms;
  user-select: none;
}

.TbdPost__Options--option:hover {
  background-color: #efefef
}

.TbdPostHighlight--editable {
  border: 2px solid #DDDDDD;
  border-radius: 3px;
  padding: 15px;
}

.TbdPost__OptionsBar--editable {
  display: none;
}

.TbdPostHighlight__Topics--editable {
  margin-bottom: 15px;
  display: flex;
}

.TbdTopic--add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 3px;
  margin-right: 10px;
  transition: 100ms;
  border: 1px solid #DDDDDD;
}

.TbdTopic__AddTopicText {
  font-size: 14px;
  font-weight: 400;
  display: flex;
}

.TbdPost__SaveWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: inherit;
  height: inherit;
  margin-top: 4px;
}

.TbdError__Wrapper {
  margin-top: 15px;
}

.TbdError {
  @include TbdFont;
}

// User Info

.TroveNewComment__ProfileWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TroveNewComment__ProfileImg {
  border-radius: 100px;
  max-height: 45px;
  max-width: 45px;
  height: 45px;
  width: 45px;
  min-height: 45px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.25);
  font-size: 17px;
  font-weight: 400;
  transition: 50ms;
  user-select: none;
  margin: 0 4px;
}

.TroveNewComment__ProfileInfoWrapper {
  display: flex;
  align-items: center;
}

.TroveNewComment__ProfileInfo {
  display: flex;
  align-items: center;
  transition: 50ms;
}

.TroveNewComment__PostInfo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.TroveNewComment__DisplayName {
  @include TbdFont;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
  font-weight: 700;
}

.TroveNewComment__Username {
  @include TbdFont--small;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-left: 5px;
}

.TroveNewComment__Cancel {
  font-size: 14px;
  color: #969696;
  width: 34px;
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 102px;
  -webkit-user-select: none;
  user-select: none;
}

.TroveNewComment__Cancel:hover {
  color: rgba(13, 119, 226, 0.5);
  background-color: rgba(13, 119, 226, 0.15);
}

.TroveNewComment__TopPaddingImage {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TroveNewComment__ReplyingTo--text {
  width: fit-content;
  font-size: 12px;
  white-space: nowrap;
}

.TroveNewComment__ReplyingTo {
  font-size: 12px;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}