.TbdPost {
  padding: 15px;
  cursor: pointer;
  word-break: break-word;
  border-bottom: 1px solid #f2f2f2;
}

.TbdPost:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.TbdPost__Wrapper {
  display: flex;
  flex-direction: row;
}

.TbdPost__Left {
  margin-right: 7.5px;
}

.TbdPost__Right {
  margin-top: -3.5px;
  margin-left: 7.5px;
  width: 100%;
}

.TbdPost__UserBubble {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 48px; /* Should be 50 but looks more centered at 48 */
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
}

.TbdPost__Header {
  display: flex;
  flex-direction: row;
}

.TbdPost__Header__DisplayName {
  font-weight: bold;
  margin: 0px;
  margin-right: 5px;
  // max-height: 18px;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TbdPost__Header__Username {
  margin: 0px;
  margin-right: 5px;
}

.TbdPost__Header__Datetime {
  margin: 0px;
  color: #aaa;
}

.TbdPost__Buttons {
  margin-top: 5px;
  margin-bottom: -6px;
  display: flex;
  justify-content: space-between;
}

.TbdPost__Button {
  background-color: #eee;
  cursor: pointer;
  border: none;
  color: #545454;
  padding: 5px 12.5px;
  border-radius: 25px;
  height: 30px;
}

.TbdPost__Button:hover {
  background-color: #eff7fe;
}

.TbdPost__Button:focus {
  outline: none;
}

.TbdPost__Buttons__Reply {
  background-image: url('../../../../../public/images/reply.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  margin-left: -4px;
}

.TbdPost__Buttons__Reply:hover {
  background-image: url('../../../../../public/images/reply-blue.svg');
  background-color: #DAEAFB;
}
