@import '../../../../styles/general.scss';

$background-color: #fff;

.TbdNewPost {
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-right: 20px;
}

.TbdNewPost__Content {
  font-size: 14px !important;
  line-height: 18px !important;
  padding: 0px;
  margin-top: 2px;
  border: none;
  background-color: $background-color;
  resize: none;
}

.TbdNewPost__Content:focus {
  box-shadow: none;
}

.TbdNewPost__Content::-webkit-resizer {
  display: none;
}
