@import '../style.scss';
@import '../../../styles/general.scss';

.TbdAuth {
  height: fit-content;
  width: 100%;
  padding: 20px 15px;
  line-height: $line-height;
}

.TbdAuth__Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TbdAuth__Header__Title--login {
  @include TbdFont--large;
}

.TbdAuth__Header__Emoji {
  margin-left: 5px;
}

.TbdAuth__FieldWrapper {
  margin-top: 10px;
}

.TbdAuth__Label {
 @include TbdFont--small;
}

.TbdAuth__InputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border: 2px solid #dddddd;
  border-radius: 3px;
  background-color: #ffffff;
  transition: 150ms;
  padding-right: 10px;
}

.TbdAuth__InputWrapper:hover {
  border: 2px solid rgba(13, 119, 226, 0.5); // #0d77e2 with 0.5 opacity
  transition: 150ms;
}

.TbdAuth__InputWrapper:focus-within {
  border: 2px solid #0d77e2; // #0d77e2 with 0.5 opacity
  transition: 150ms;
  box-shadow: 0 0 3px 3px rgba(13, 119, 226, 0.2);
}

.TbdAuth__Input {
  @include TbdFont;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  transition: 150ms;
  background-color: transparent;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.TbdAuth__ButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.TbdAuth__Button {
  @include TbdFont;
  cursor: pointer;
  transition: 150ms;
}

.TbdAuth__Button--cancel {
  @include TbdFont;
  cursor: pointer;
  transition: 150ms;
  margin-left: 5px;
}

.TbdAuth__Error {
  margin-top: 10px;
}

.TbdAuth__Error--hide {
  display: none;
}

.TbdAuth__Alert {
  @include TbdFont;
}

.TbdAuth__Loading {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: #0d77e2;
}

.TbdLogin__ForgotPassword {
  font-size: 10px;
  margin-top: 3px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.TbdLogin__ForgotPassword:hover {
  text-decoration: underline;
}

.TbdLogin__SignupHere {
  font-size: 10px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin-left: 7px;
}

.TbdLogin__SignupHere:hover {
  text-decoration: underline;
}
