@import '../../../../styles/general.scss';

.TbdNotificationWrapper {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
}

.TbdNotificationWrapper--unread {
  background-color: #dddddd;
}

.TbdNotificationWrapper__HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TbdNotificationWrapper__HeaderContentWrapper {
  width: 100%;
  margin-left: 5px;
  padding-right: 3px;
}

.TbdNotificationWrapper__Notification {
  width: 100%;
  margin-left: 5px;
  line-height: $line-height;
  font-size: 16px;
  font-weight: 400;
  word-break: break-word;
}

.TbdNotificationWrapper__DisplayName {
  width: fit-content;
  @include TbdFont--medium;
}

.TbdNotificationWrapper__Action {
  width: fit-content;
  @include TbdFont;
}

.TbdNotificationWrapper__NotificationDetails {
  @include numLines(1);
  @include TbdFont--small;
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  margin-top: 3px;
  color: grey;
}

.TbdNotificationWrapper__Content {
  @include TbdFont;
  margin-top: 5px;
  word-break: break-word;
  max-height: 70px;
  overflow: hidden;
  white-space: pre-wrap;
}

.TroveTooltip__Editor {
  width: 100%;
  margin-bottom: 5px;
}

.TroveTooltip__Editor--read-only {
  background-color: transparent;
}

.TroveTooltip__Editor .ql-editor {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  padding: 0px;
}

.TroveTooltip__Editor .ql-editor.ql-blank::before {
  left: 0px;
  right: 0px;
}