$pill-height: 24px;
$pill-padding: 10px;

.TbdPill {
  display: flex;
  flex-direction: row;
  padding: 0 $pill-padding;
  width: auto;
  height: $pill-height;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: $pill-height / 2;
  transition: width .5s;
}

.TbdPill__Text {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: $pill-height;
}

.TbdPill__CloseButton {
  height: 12px;
  width: 12px;
  border: none;
  outline: none;
  border-radius: 50%;
  margin: auto;
  margin-left: 5px;
  background-color: transparent;
  background-image: url('../../../../../public/images/new-post-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  cursor: pointer;
}

.TbdPill__CloseButton--inverted {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
