// $pill-height: 24px;
// $pill-padding: 10px;

@import '../../../../styles/general.scss';

$pill-height: 22px; // 30px
$pill-padding: 6px; // 15px
$border-radius: 3px; // 7px

.TbdPill {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  align-items: center;
  flex-shrink: 1;
  min-width: 0px;
  height: $pill-height;
  border-radius: $border-radius;
  padding-left: $pill-padding;
  padding-right: $pill-padding;
  font-size: 12px;
  line-height: 20px;
  margin-right: 6px;
}

.TbdPill__Text {
  @include TbdFont--small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TbdPill__CloseButton {
  height: 12px;
  width: 12px;
  border: none;
  outline: none;
  border-radius: 50%;
  margin: auto;
  margin-left: 5px;
  background-color: transparent;
  background-image: url('../../../../../public/images/new-post-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  cursor: pointer;
}

.TbdPill__CloseButton--inverted {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.TbdPill--filter {
  padding: 13px;
  cursor: pointer;
  transition: 100ms;
  border: 1px solid #DDDDDD;
}