@import '../../styles/tabs.scss';
@import '../../styles/general.scss';

$popup-width: 300px; // 350px
$popup-height: 350px;

$footer-height: 40px;

body {
  background-color: #F7F6F3;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

body, html {
  width: $popup-width;
  height: fit-content;
}

// Popup
.TbdPopupContainer {
  border: none;
  color: black;
  width: $popup-width;
  position: relative;
  background-color: #F7F6F3;
}

.TbdPopupContainer__TabWrapper {
  margin-bottom: $footer-height;
  max-height: $popup-height;
  height: fit-content;
  overflow-y: auto;
}

.TbdPopupContainer__BottomWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 15px;
  position: fixed;
  background-color: #F7F6F3;
  width: 100%;
  height: $footer-height;
  bottom: 0;
  border-top: 1px solid #e0e0e0;
}

.TbdPopupContainer__OnOffTextWrapper {
  display: flex;
}

.TbdPopupContainer__OnOff {
  margin-left: 5px;
  margin-right: 7px;
}

.TbdPopupContainer__OnOff--bold {
  font-weight: 700;
}


// Shared
.TbdProfile__Img {
  border-radius: 100px;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0,0,0, 0.25);;
  @include TbdFont--large; 
}

.TbdPopupContainer--loading {
  height: 0px;
  width: 0px;
}

.TbdPopupContainer__Button {
  @include TbdFont;
  cursor: pointer;
  margin-top: 15px;
  transition: 150ms;
}

.TbdPopupContainer__Loading {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 18px;
  color: #0d77e2;
}

.TbdPopupContainer__OnOffWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}