@import '../../styles/tabs.scss';
@import '../../styles/general.scss';

body {
  background-color: #fafafa;
  margin: 0px;
}

// Shared
.TbdProfile__Img {
  border-radius: 100px;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include TbdFont--large; 
}

// Popup
.TbdPopupContainer {
  border: none;
  color: black;
  width: 350px;
  max-height: 300px;
}

.TbdPopupContainer__TabWrapper {
  margin-top: 45px;
  margin-bottom: 40px;
}

.TbdPopupContainer__OnOffWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 15px;
  position: fixed;
  background-color: #fafafa;
  width: 100%;
  height: 40px;
  bottom: 0;
  border-top: 1px solid #e0e0e0;
}

.TbdPopupContainer__OnOffTextWrapper {
  display: flex;
}

.TbdPopupContainer__OnOff {
  font-weight: 700;
  margin-left: 5px;
  margin-right: 7px;
}