// Tooltip
$tooltip-padding: 10px 10px 8px 10px;;

// Fonts
$line-height: 22px;

// Pill
$pill-height: 20px; // 30px
$pill-padding: 4px; // 15px
$pill-border-radius: 3px; // 7px
$pill-font-size: 11px;

@mixin TbdFont--xsmall {
  font-size: 10px;
  font-weight: 500;
}

@mixin TbdFont--small {
  font-size: 12px;
  font-weight: 400;
}

@mixin TbdFont {
  font-size: 14px;
  font-weight: 400;
}

@mixin TbdFont--medium {
  font-size: 14px;
  font-weight: 500;
}

@mixin TbdFont--large {
  font-size: 20px;
}

// Utilities
@mixin numLines($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin boxShadow($args...) {
  -webkit-box-shadow: $args;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: $args;  /* Firefox 3.5 - 3.6 */
  box-shadow: $args;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}