/* Override antd tab styles */

// Tabs
.ant-tabs-tab {
  margin: 0 20px;
  padding: 8px 0px;
}

.ant-tabs-nav-wrap {
  align-items: center;
  justify-content: center;
}

.ant-tabs-nav {
  margin: 0 !important;
  position: fixed !important;
  width: 100%;
  background-color: #f7f6f3;
  height: 40px;
}

// Tab text
.ant-tabs-tab-btn {
  color: rgba(50, 50, 50, .75) !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
}

// Active tab text
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000 !important;
}

// Active tab underline emphasis
.ant-tabs-ink-bar {
  height: 3px !important;
}

// Divider below tabs
.ant-tabs-top > .ant-tabs-nav:before {
  border-bottom: 1px solid #e0e0e0 !important;
}

// Content wrapper 
.ant-tabs-content-holder {
  margin-top: 40px;
}
