@import '../../../styles/general.scss';

.TroveTooltip {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: $tooltip-width;
  height: fit-content;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segose UI Symbol',
    'Noto Color Emoji' !important;
  font-size: 14px;
  // margin: 10px 0 0 0;
  padding: 0;
  z-index: 10;
  border-radius: 3px;
}

.TroveTooltip__Content {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  max-height: inherit;
  border-radius: 3px;
}

.TroveContent:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.TroveTooltip__DropdownClosed {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-width: inherit;
  max-height: inherit;
  width: inherit;
  height: inherit;
  border-radius: 3px;
  overflow-x: hidden;
}

.TroveTooltip__BottomContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #DDDDDD;
}

// .TroveContent__Button:hover {
//   background-color: #f3f3f3;
// }

.TroveContent__Text {
  // z-index: 1;
  // line-height: $tooltip-height;
  // margin: 0;
  // padding: 0;
  // width: fit-content;
  // pointer-events: none;
  height: fit-content;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

// .TroveContent__SaveTo {
//   height: 38px;
//   border-radius: 3px;
//   max-width: 165px;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.TroveContent__SaveTo__Button {
  outline: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 3px;
  justify-content: center;

  height: 38px;
  width: 100%;
  max-width: 165px;
}

.TroveContent__SaveTo__Button:hover {
  background-color: rgba(0,0,0,0.07);
  cursor: pointer;
}

.TroveContent__SaveTo__IconRight {
  @include TbdFont;
  margin-left: 5px;
}

.TroveContent__ButtonList {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 135px;
}

.TroveDropdown__Section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.TroveDropdown__SectionName {
  font-size: 12px;
  color: #969696;
  padding: 5px 15px;
}

.TroveDropdown__SelectedItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  width: 100%;
  flex-direction: row;
}

.TroveDropdown__Item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  padding: 5px 15px;
  width: 100%;
}

.TroveDropdown__Item:hover {
  background: rgba(55, 53, 47, 0.08);
}

.TroveDropdown__Selected {
  background: rgba(55, 53, 47, 0.08);
}

.TroveDropdown__Icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 1.1;
}

.TroveDropdown__ItemIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.TroveDropdown__ItemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include TbdFont;
  margin-left: 4px;
}

.TroveDropdown__SelectedItemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include TbdFont--medium;
  margin-left: 8px;
  width: inherit;
  max-width: 115px;
  display: block;
  text-align: left;
}

.TroveDropdown__ItemPath {
  color: #969696;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 26px;
  margin-top: 3px;
}

.TroveDropdown__HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: inherit;
}

.TroveMark__DeleteButton {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('../../../../public/images/exit1.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1.5px solid #fff;
  outline: none;
  z-index: 5; 
  cursor: pointer;
}

// shared
.Trove__Button {
  font-size: 13px;
  font-weight: 400;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: 28px;
  border-radius: 3px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
  background: #0d77e2;
  color: white;
  fill: white;
  line-height: 1.2;
  padding-left: 12px;
  padding-right: 12px;
  border: 0;
  outline: none;
}

.Trove__Button:hover {
  background-color: rgba(13, 119, 226, 0.8);
}

.Trove__Button--secondary:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.Trove__Button--secondary {
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
  transition: background 20ms ease-in 0s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 3px;
  height: 28px;
  padding: 0px 12px;
  line-height: 1.2;
  border: 1px solid rgba(55, 53, 47, 0.16);
  background-color: transparent;
  outline: none;
}

.Trove__ButtonLoading {
  margin-right: 7px;
}

.Trove__ChevronIcon {
  width: 10px;
  height: 10px;
  font-size: 18px;
  line-height: 1.1;
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block;
  -webkit-text-fill-color: rgba(55, 53, 47, 0.15);
};

// Properties (all above text)

.TroveTooltip__Properties {
  background-color: #fff;
  padding: 0 4%;
};

.TroveTooltip__Divider {
  min-height: 1px;
  background-color: #DDDDDD;
  margin: 0 10px;
}

.TroveTooltip__LoadingPropertiesWrapper {
  margin-left: 3%;
  color: rgba(55, 53, 47, 0.6);
  margin-top: 10px;
  font-size: 10px;
}

.TroveTooltip__LoadingPropertiesText {
  margin-left: 5px;
}

.TroveDBNotSupported {
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.TroveDBNotSupported__Title {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.TroveDBNotSupported__SubTitle {
  width: 100%;
  text-align: left;
  font-size: 12px;
  margin-top: 3px;
  font-weight: 500;
  color: #969696;
}

.TroveDBNotSupported__LinkedText {
  margin-left: 3px;
  text-decoration: underline;
  cursor: pointer;
  transition: 100ms;
}

.TroveDBNotSupported__LinkedText:hover {
  color: #0d77e2;
}