@import '../../../styles/general.scss';

.TroveTooltip {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: max-content;
  height: max-content;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segose UI Symbol',
    'Noto Color Emoji' !important;
  font-size: 14px;
  // margin: 10px 0 0 0;
  padding: 0;
}

.TroveTooltip__Content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  overflow: visible;
  height: fit-content;
}

.TroveContent:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.TroveTooltip__DropdownClosed {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .TroveContent__Button:hover {
//   background-color: #f3f3f3;
// }

.TroveContent__Text {
  // z-index: 1;
  // line-height: $tooltip-height;
  // margin: 0;
  // padding: 0;
  // width: fit-content;
  // pointer-events: none;
  height: fit-content;
  margin: 0;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.TroveContent__SaveTo {
  height: 35px;
  border-radius: 3px;
  max-width: 350px;
}

.TroveContent__SaveTo__Button {
  height: 36px;
  width: 100%;
  outline: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 3px;
}

.TroveContent__SaveTo__Button:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.TroveContent__SaveTo__IconRight {
  @include TbdFont;
  margin-left: 5px;
}

.TroveContent__ButtonList {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.TroveDropdown__Section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.TroveDropdown__SectionName {
  font-size: 12px;
  color: #969696;
  padding: 5px 15px;
}

.TroveDropdown__SelectedItem {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  width: inherit;
}

.TroveDropdown__Item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  padding: 5px 15px;
  width: 100%;
}

.TroveDropdown__Item:hover {
  background: rgba(55, 53, 47, 0.08);
}

.TroveDropdown__Selected {
  background: rgba(55, 53, 47, 0.08);
}

.TroveDropdown__Icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 1.1;
}

.TroveDropdown__ItemIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  margin-right: 4px;
  flex-shrink: 0;
}

.TroveDropdown__ItemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include TbdFont;
}

.TroveDropdown__SelectedItemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include TbdFont--medium;
}

.TroveDropdown__ItemPath {
  color: #969696;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 26px;
  margin-top: 3px;
}

.TroveDropdown__HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: inherit;
}

.TroveMark__DeleteButton {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('../../../../public/images/exit1.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  border: none;
  outline: none;
  z-index: 999999; 
  cursor: pointer;
}

// shared
.Trove__Button {
  font-size: 13px;
  font-weight: 400;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: 28px;
  border-radius: 3px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
  background: #0d77e2;
  color: white;
  fill: white;
  line-height: 1.2;
  padding-left: 12px;
  padding-right: 12px;
  border: 0;
  outline: none;
}

.Trove__Button:hover {
  background-color: rgba(13, 119, 226, 0.8);
}

.Trove__Button--secondary:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.Trove__Button--secondary {
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
  transition: background 20ms ease-in 0s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 3px;
  height: 28px;
  padding: 0px 12px;
  line-height: 1.2;
  border: 1px solid rgba(55, 53, 47, 0.16);
  background-color: transparent;
  outline: none;
}

.Trove__ButtonLoading {
  margin-right: 7px;
}

.Trove__ChevronIcon {
  width: 10px;
  height: 10px;
  font-size: 18px;
  line-height: 1.1;
}