@import '../../../styles/general.scss';

$tooltip-width: 175px;
$tooltip-height: 35px;

.TroveTooltip {
  position: absolute;
  top: 0px;
  left: 0px;
  width: max-content;
  height: $tooltip-height;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segose UI Symbol',
    'Noto Color Emoji' !important;
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 0;
}

.TroveTooltip--position-below {
  margin-top: 10px;
  margin-bottom: 0px;
}

.TroveTooltip--position-above {
  margin-top: 0px;
  margin-bottom: 10px;
}

.TroveTooltip__Content {
  // display: flex;
  // flex-direction: row;
  // width: max-content;
  // padding: 0px 15px;
  // overflow: visible;

  display: flex;
  flex-direction: row;
  width: fit-content;
  overflow: visible;
  height: fit-content;
}

.TroveContent:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

// .TroveContent__Button:hover {
//   background-color: #f3f3f3;
// }

.TroveContent__Text {
  // z-index: 1;
  // line-height: $tooltip-height;
  // margin: 0;
  // padding: 0;
  // width: fit-content;
  // pointer-events: none;
  height: $tooltip-height;
  margin: 0;
  padding: 0;
  width: fit-content;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-right: 1px solid #DDDDDD;
}

.TroveContent__SaveTo {
  height: $tooltip-height;
  outline: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.TroveContent__SaveTo:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.TroveContent__Wrapper {
  height: $tooltip-height;
}

.TroveButton__IconRight {
  @include TbdFont;
  margin-left: 10px;
}

.TroveButton__Text {
  @include TbdFont;
}

.TroveHint__Wrapper {
  opacity: 0.9;
  margin-top: 0;
  margin-left: 0;
  visibility: visible;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  position: fixed;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  z-index: 999;
  color: #fff;
  background: #222;
  border: 1px solid transparent;
}