.TbdLibButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
}

.TbdLibButton--primary {
  border: 2px solid #0d77e2;
  background-color: #0d77e2;
  color: #ffffff;
}

.TbdLibButton--secondary {
  border: 2px solid #0d77e2;
  background-color: #ffffff;
  color: #0d77e2;
}

.TbdLibButton__Loading {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.TbdLibButton__Icon {
  padding-right: 10px;
  display: flex;
}

.TbdLibButton__Button {
  outline: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}