$pill-height: 24px;
$pill-padding: 10px;
$tooltip-width: 250px;
$tooltip-padding: 10px;

.TbdInputPill {
  padding: 0 $pill-padding;
  width: auto;
  height: $pill-height;
  border-radius: $pill-height / 2;
  background-color: transparent;
  color: #545454;
  outline: none;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: $pill-height;
  margin-right: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.TbdInputPill--button {
  border: 1px dashed #ccc;
  cursor: pointer;
}

.TbdInputPill--button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.TbdInputPill--input {
  border: 1px solid #c0c0c0;
  width: 64.5px;
  height: $pill-height;
  max-width: $tooltip-width - 2 * $tooltip-padding;
}
