@import '../../../styles/general.scss';

.TbdNotificationWrapper {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
}

.TbdNotificationWrapper:hover {
  background-color: #c4c4c4;
}

.TbdNotificationWrapper__HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TbdNotificationWrapper__HeaderContentWrapper {
  width: 100%;
  margin-left: 5px;
  padding-right: 3px;
}

.TbdNotificationWrapper__Notification {
  width: 100%;
  margin-left: 5px;
  line-height: $line-height;
  font-size: 16px;
  font-weight: 400;
  word-break: break-word;
}

.TbdNotificationWrapper__DisplayName {
  width: fit-content;
  @include TbdFont--medium;
}

.TbdNotificationWrapper__Action {
  width: fit-content;
  @include TbdFont;
}

.TbdNotificationWrapper__NotificationDetails {
  @include numLines(1);
  @include TbdFont--small;
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  margin-top: 3px;
  color: grey;
}

.TbdNotificationWrapper__Content {
  margin-top: 5px;
  @include TbdFont;
}