@import '../../../styles/general.scss';

.TbdNotificationContainer {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
}

.TbdNotificationContainer:hover {
  background-color: #c4c4c4
}

.TbdNotificationContainer__HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TbdNotificationContainer__HeaderContentWrapper {
  width: 100%;
  margin-left: 5px;
  padding-right: 3px;
}

.TbdNotificationContainer__Notification {
  width: 100%;
  margin-left: 5px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  word-break: break-word;
}

.TbdNotificationContainer__DisplayName {
  width: fit-content;
  @include TbdFont--medium
}

.TbdNotificationContainer__NotificationDetails {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  margin-top: 3px;
  color: grey;
}

.TbdNotificationContainer__Content {
  margin-top: 5px;
}

.TbdNotificationContent--Username {
  @include TbdFont;
  font-weight: 600;
}

.TbdNotificationContent--Normal {
  @include TbdFont
}