.tbd-sidebar {
  background-color: white;
  border: 1px solid red;
  height: auto;
  width: auto;
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  // pointer-events: none;
}
