.TbdSidebar {
  background-color: gray;
  border: 1px solid red;
  height: auto;
  width: 50px;
  // Prevent accidental scrolling
  // touch-action: none;
  // user-select: none;
}

.TbdSidebar--position-right {
  right: 10px;
  top: 75px;
}

.TbdSidebar--position-left {
  left: 10px;
  top: 75px;
}

.TbdSidebar--position-bottom {
  right: 75px;
  bottom: 10px;
}