.TbdSidebar {
  height: auto;
  width: 50px;
  touch-action: none;
  user-select: none;
  pointer-events: auto;
}

.TbdSidebar:not(.react-draggable-dragging) {
  -webkit-transition: -webkit-transform 0.5s ease-out; /* Safari */
  transition: transform 0.12s ease-out;
}
