@import '../../../../styles/general.scss';

.TbdAuth__Header__Title--forgot {
  @include TbdFont
}

.TbdForgot__BackButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TbdForgot__BackButton {
  @include TbdBackArrow;
}

.TbdAuth__ButtonWrapper--success {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}